In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Average Ethereum inter-block time

In this notebook we compute the average inter-block time for the Ethereum blocks in data set $\mathcal{D1}$.

We recall that, for our experiments, $\mathcal{D1}$ denotes the set of all blocks between height 0 (mined on July 30th, 2015) and height 14999999 (mined on June 21st, 2022).

To this aim, we use historical data from Etherscan (available here: https://etherscan.io/chart/blocktime).

In [9]:
# The following instruction automatically downloads the latest version of the data set from the Etherscan website.
df = pd.read_csv('https://etherscan.io/chart/blocktime?output=csv', storage_options={'User-Agent': 'Mozilla/5.0'})
df['Date(UTC)'] = df['Date(UTC)'].astype(dtype='datetime64')
df

      Date(UTC)  UnixTimeStamp  Value
0    2015-07-30     1438214400   4.46
1    2015-07-31     1438300800  12.58
2    2015-08-01     1438387200  16.34
3    2015-08-02     1438473600  16.12
4    2015-08-03     1438560000  16.37
...         ...            ...    ...
2858 2023-05-27     1685145600  12.09
2859 2023-05-28     1685232000  12.08
2860 2023-05-29     1685318400  12.12
2861 2023-05-30     1685404800  12.13
2862 2023-05-31     1685491200  12.11

[2863 rows x 3 columns]

As the data set is updated daily, we select all rows regarding the analyzed period.

In [11]:
d1 = df[df['Date(UTC)'] <= '2022-06-21']
d1

      Date(UTC)  UnixTimeStamp  Value
0    2015-07-30     1438214400   4.46
1    2015-07-31     1438300800  12.58
2    2015-08-01     1438387200  16.34
3    2015-08-02     1438473600  16.12
4    2015-08-03     1438560000  16.37
...         ...            ...    ...
2514 2022-06-17     1655424000  14.48
2515 2022-06-18     1655510400  14.58
2516 2022-06-19     1655596800  14.78
2517 2022-06-20     1655683200  14.47
2518 2022-06-21     1655769600  15.55

[2519 rows x 3 columns]

Then we compute the average inter-block time (in seconds).

In [15]:
t = np.mean(d1.Value)
print(f'Avg. inter-block time: {t} s')

Avg. inter-block time: 14.549515680825722 s

As we would like to cover a time window of 30 minutes, we can use this value to estimate the number of entries $e$ required in our skip indices. This can be computed as follows:

$$e = \Big\lceil \log_2 \Big(\frac{30 \times 60}{t}\Big) \Big\rceil$$

In [16]:
e = np.ceil(np.log2(30*60/t))
print(f'N. of filters: {e}')

N. of filters: 7.0